@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Open Sans";
  src: url("./assets/fonts/OpenSans-Regular.ttf") format("ttf"), url("./assets/fonts/OpenSans-Bold.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Museo Sans Rounded 700";
  src: url("./assets/fonts/MuseoSansRounded-700.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Comfortaa";
  src: url("./assets/fonts/Comfortaa-Bold.ttf") format("ttf"), url("./assets/fonts/Comfortaa-Regular.ttf") format("ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Segoe UI";
  src: url("./assets/fonts/SegoeUI.ttf") format("ttf"), url("./assets/fonts/SegoeUI-Bold.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gibson";
  src: url("./assets/fonts/Fontspring-DEMO-gibson-semibold.otf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --white: #ffffff;
  --light-white: #f3f6fb;
  --lighter-white: #f8f8f8;
  --gray-light: #00000029;
  --gray: #808080;
  --gray-dark: #707070;
  --gray-darker: #4d4f5c;
  --gray-darkest: #a4afb7;
  --blue-light: #2c1dad29;
  --blue-lighter: #3220ce29;
  --blue-lightest: #4487ff57;
  --blue: #4487ff;
  --blue-dark: #015f91;
  --purple-light: #a89eff;
  --purple: #3220ce80;
  --red-light: #ff6752;
  --red-lighter: #d65c15;
  --red-lightest: #fd6845;
  --red: #fe6845;
  --red-dark: #fd68454d;
  --orange-yellow-light: #feb53a;
  --orange-yellow: #ffcc55;
  --orange-yellow-dark: #ffe530;

  --font-open-sans: "Open Sans", sans-serif;
  --font-museo-sans-rounded: "Museo Sans Rounded 700", sans-serif;
  --font-comfortaa: "Comfortaa", sans-serif;
  --font-segoe-ui: "Segoe UI", sans-serif;
  --font-gibson: "Gibson", sans-serif;
  --font-custom1: "CustomFont1", sans-serif;
  --font-custom2: "CustomFont2", sans-serif;

  --font-size-navbar-menu: 24px;
  --font-size-main-title: 84px;
  --font-size-main-description: 24px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
